*{
box-sizing: border-box;
font-size: Poppins, San-serif;

}

body{
     background: #222
     
}

.app{ width:90%;
max-width: 400px;
color: #fff;
justify-content: center;
align-items: center;
margin: auto;
background: linear-gradient(140deg, #00feba, #5b5489)


}

.app .search{
     align-items: center;
     just
     margin: 10px 50px;
}

.search img { width: 100px;}

.app search input {
     width: 400px;
     height:
}